.education {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .education-title {
    font-size: 4rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--accent-red);
  }

  .education-content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    position: relative;
    padding-left: 4rem;
  }
}

.education-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &::before {
    content: '';
    position: absolute;
    left: -2.2rem;
    top: 0.9rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-red);
    border-radius: 50%;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    left: -1.8rem;
    top: 1.9rem;
    width: 0.2rem;
    height: calc(100% + 5rem);
    background-color: var(--accent-red);
  }

  p {
    padding-left: 2rem;
    &:nth-child(1) {
      font-size: 2.4rem;
      font-weight: 700;
    }
    &:nth-child(2) {
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--accent-gray);
    }
    &:nth-child(3) {
      font-size: 2rem;
    }
  }
}
