@import url('@/styles/global.scss');

.nav {
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100vh;
  width: 20vw;
  position: fixed;
  .nav-content {
    height: 100%;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .nav-shortcut {
      font-weight: bold;
      font-size: 3.6rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      div {
        position: relative;
        overflow: hidden;
        padding: 1rem;
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -100%;
          background-color: var(--accent-yellow);
          z-index: -1;
        }
        &:hover::before {
          left: 0;
          transition: left 0.5s;
        }
      }
    }
    .nav-contact {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
