@import url('@/styles/global.scss');

.navigation-desktop {
  font-size: var(--font-lg);
  display: flex;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--dark-color);
  background-color: var(--light-color);
  .items {
    list-style: none;
    display: flex;
    gap: var(--spacing-xl);
    margin-right: var(--spacing-xl);
  }
}

.navigation-mobile {
  height: 15vh;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--dark-color);
  .menubox {
    display: flex;
    align-items: center;
    .menu-button {
      margin-right: var(--spacing-md);
    }
  }
}
.slider {
  position: fixed;
  width: 100vw;
  top: 15vh;
  z-index: 1;
  background-color: var(--light-color);
  list-style: none;
  transform: translateY(-100%);
  transition:
    opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
  &.active {
    transform: translateY(0);
    box-shadow: 0px 10px 10px -10px var(--dark-color);
  }
  .item {
    font-size: var(--font-md);
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--light-gray);
  }
}
