@import url('@/styles/global.scss');

.about {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .about-title {
    font-size: 4rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--accent-yellow);
  }
  .about-content {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
  }
}
.about-content-subtitle {
  font-size: 2rem;
  gap: 1rem;
  grid-column: 1/-1;
}
.about-content-description {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  &:nth-child(2) {
    background-color: var(--pastel-green);
  }
  &:last-child {
    background-color: var(--pastel-blue);
  }
  span {
    font-size: var(--font-lg);
    font-weight: bold;
  }
  p {
    font-size: 2rem;
  }
}
